<div id="<%= dom_id item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= item.name %>
  </p>

  <%=
    link_to(
      'Destroy this item',
      todo_item_path(item.todo, item),
      data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      },
      class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    )
  %>
</div>
